**__pycache__
__pycache__/
.databricks/
databricks.yml
# außer dvc config
.dvc/ 
dvc.lock
dvc.yaml
.vscode/
adrs/
eda/
experiments/
img/
logs/
thesis_venv/
#environments
*.md
.cache
*.log
*.git
*.gitignore
*.dvcignore
*.pyc
*.pyo
*.pyd
*.lock
requirements.txt
app-local/
**/api_local.py
*models/model.pkl

results/
data/
**/evidently_service
**/train_model.py
**/prepare_data.py
**/evaluate_model.py
**/clean_data.py
**/monitor.py
**/model.pkl
**/preprocessor.pkl
**/deploy_check.py
*/app/dvc.yaml
*/app/params.yaml
*/app/params.yaml.dvc